.MainContainer {
    padding: 20px;
    width: 100%;
}
#Feed-Public {
    border-radius: 15px;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 100%;
    overflow: hidden;
}
.FP-MenuTitle {
    margin: 0;
    padding: 10px;
    display: flex;
    justify-content: center;
    width: 100%;
    background-image: linear-gradient(to left, #001433,  #00c1a7, #00143300);
    color: white;
    text-shadow: #00ffdd 0px 0px 10px;
}
#cards {
    padding: 30px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 50px;
    column-gap: 30px;
}
#cards .card {
    background-color: #001433;
    color: white;
    border: white 2px solid;
    cursor: pointer;
    border-radius: 12px;
    box-shadow: #00ffdd 0px 0px 40px;
    width: 80%;
    margin: auto;
    aspect-ratio: 4 / 6;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 15px;
    text-align: left;
    transition: transform 0.5s ease;
}
#cards .card:hover {
    transform: scale(1.1);
}
#cards .card img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}
#cards .card-content {
    position: relative;
    z-index: 2;
    background: linear-gradient(to top, rgb(0, 20, 51) 10%, rgba(0, 20, 51, 0.877) 40%, rgba(0, 0, 0, 0) 70%);
    padding: 50px;
    margin: -50px;
}
#cards .card-content h2, #cards .card-content p {
    margin: 0;
    padding: 0;
    font-size: 40px;
    text-shadow: 1px 1px 3px black;
}
#cards .card-content p {
    font-size: 20px;
}