/* --- Estilos Únicos para la Página de Registro --- */

body.custom-register-bg {
    background: url('../img/cancha.jpg') no-repeat center center fixed;
    background-size: cover;
}

.custom-register-card {
    border-radius: 30px;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(5px);
    color: #001433;
    max-width: 500px;
    width: 100%;
}

.custom-register-title {
    color: #001433;
}

#avatarPreview {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 4px solid #00C1A7;
    margin: 0 auto 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: white;
}

#avatarPreview img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.form-label.custom-label {
    color: #001433;
    font-size: 22px;
}

.custom-register-card .SearchTopic {
    text-align: center;
}

.custom-radio-group {
    display: flex;
    justify-content: center;
    gap: 20px;
    color: #001433;
}

.custom-radio {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 18px;
    position: relative;
    user-select: none;
}

.custom-radio input[type="radio"] {
    opacity: 0;
    position: absolute;